:root {
   --cinza: #BABDBF;
   --cinza-claro: #eaeaea;
   --turquesa: #3F7373;
   --laranja-claro: #BF754B;
   --laranja: #A64826;
   --vinho: #732B1A;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-family: 'Quicksand', sans-serif; 
   font-size: 18px;
}

header {
   background-color: var(--laranja-claro);
   height: 7rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo {
   color: var(--vinho);
   text-align: center;
   font-family: 'Amatic SC', cursive;
   font-size: 4rem;
   font-weight: 600;
}

main {
   color: var(--turquesa);
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
   min-height: 100vh;
   width: 100%;
   padding: 3rem 0 1.5rem 0;
}

.intro {
   color: var(--laranja-claro);
   width: 50rem;
   font-size: 1.5rem;
   font-weight: 600;
}

.form {
   width: 50rem;
   height: 20rem;
   margin: 2rem 0;
   display: flex;
   overflow-x: scroll;
   scroll-snap-align: x mandatory;
}

section {
   display: flex;
}

.form__question {

   display: flex;
   flex-direction: column;
   min-width: 50rem;
   height: 18rem;
   justify-content: flex-end;
   padding: 0 1rem;
}

.form__question--name {
   padding-top: 1rem;
}

fieldset {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   height: 100%;
   border: none;
}

form label {
   display: block;
}

.form__asking {
   font-size: 1.2rem;
}

.form__asking--field {
   align-self: center;
   text-align: center;
}

.form__answer--text {
   margin: 3.5rem 0;
}

.form__answer--text,
.form__answer--number {
   align-self: center;
   width: 80%;
   padding: 0.5rem 1rem;
   margin: 4.5rem 0;
   border: solid 0.15rem var(--turquesa);
   border-radius: 1rem;
   font-size: 1.2rem;
}

.form__answer--options {
   display: grid;
   grid-template-columns: 44% 44%;
   gap: 0 6rem;
   height: 12rem;
   align-items: center;
   overflow: hidden;
}

#form__answer--variationOptions {
   grid-template-columns: 23% 23% 23%;
   gap: 0 7rem;
   margin-left: 4rem;
}

.form__answers--sevenFields {
   display: grid;
   grid-template-columns: 21% 21% 21%;
   justify-content: center;
   gap: 0 6rem;
   height: 10.5rem;
}

.form__answer--sevenNumbers {
   height: 2rem;
   width: 10rem;
   padding: 1rem 0;
   border-radius: 1rem;
   font-size: 0.9rem;
   text-align: center;
}

#form__answer--scenaryOptions {
   grid-template-columns: 40% 30%;
   gap: 0 12rem;
   margin-left: 8rem;
}

#form__answer--eventOptions {
   grid-template-columns: 40% 22%;
   gap: 0 7rem;
   margin-left: 9rem;
}

.form__answers--itemAmountOfFields {
   display: grid;
   grid-template-columns: 21% 21%;
   justify-content: center;
   gap:;
   height: 10.5rem;
}

.form__answer--itemField {
   height: 2rem;
   width: ;
   padding: 1rem 0;
   border-radius: 1rem;
   font-size: 0.9rem;
   text-align: center;
}

.form__answer--amountOfField {
   height: 2rem;
   width: ;
   padding: 1rem 0;
   border-radius: 1rem;
   font-size: 0.9rem;
   text-align: center;
}

.btn__container {
   display: flex;
   justify-content: space-evenly;
}

.btn {
   background-color: var(--cinza-claro);
   color: var(--turquesa);
   height: 2.5rem;
   width: 25%;
   margin-bottom: 1rem;
   border: solid 0.15rem var(--turquesa);
   border-radius: 1rem;
   font-size: 1.3rem;
   font-family: 'Amatic SC', cursive;
   font-weight: 500;
   
}

.btn:hover {
   background-color: var(--turquesa);
   color: var(--cinza-claro);
   border: none;
   transition: 0.5s;
}

.suitcase, .tips {
   width: 50rem;
   margin: 2rem 0;
}

.suitcase__intro, .tips__intro {
   color: var(--laranja-claro);
   font-size: 1.2rem;
   font-weight: 500;
}

.suitcaseCategory {
   margin: 1rem 0;
}

.suitcaseCategory__name{
   font-size: 1.2rem;
}

.tips__item, .suitcase__item {
   margin: 0.5rem;
}

footer {
   background-color: var(--laranja-claro);
   height: 4rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

footer p {
   color: var(--vinho);
}

footer a {
   color: var(--turquesa);
   text-decoration: none;
   font-weight: 500;
}

footer a:hover {
   font-size: 1.2rem;
   transition: 0.5s;
}

.footer__dot {
   padding: 0 2rem;
}

@media (max-width: 950px) {
   html {
      font-size: 17px;
   }
   
   .intro, .form, .suitcase, .tips {
      width: 30rem;
   }

   .form__question {
      min-width: inherit;
      width: 30rem;
      font-size: 0.9rem;
   }

   .form__answer--text {
      margin: 3.1rem 0;
   }

   #form__answer--variationOptions {
      margin-left: 1.5rem;
      grid-template-columns: 25% 25% 25%;
      gap: 0 2rem;
   }

   .form__answers--sevenFields {
      height: 9rem;
      grid-template-columns: 28% 28% 28%;
      gap: 0 2rem;
   }

   .form__answer--sevenNumbers {
      height: 1.5rem;
      width: 8rem;
   }

   #form__answer--scenaryOptions,
   #form__answer--eventOptions {
      height: 11rem;
      grid-template-columns: 53% 16%;
      margin-left: 2rem;
      gap: 0 6rem;
   }

   .form__answers--itemAmountOfFields {
      height: 9rem;
      grid-template-columns: 28% 28% 28%;
      gap: 0 2rem;
   }

   .form__answer--itemField {
      height: 2rem;
      width: ;
      padding: 1rem 0;
      border-radius: 1rem;
      font-size: 0.9rem;
      text-align: center;
   }

   .form__answer--amountOfField {
   height: 2rem;
   width: ;
   padding: 1rem 0;
   border-radius: 1rem;
   font-size: 0.9rem;
   text-align: center;
   }
   
   footer {
       font-size: 0.7rem;
   }
}

@media (max-width: 600px) {
   html {
       font-size: 15px;
   }

   .intro {
      font-size: 1.2rem;
  }

  .intro, .form , .suitcase, .tips {
      width: 23rem;
   } 

   .form__question {
      width: 25rem;
      font-size: 0.9rem;
   }

   .form__answer--options {
      height: 11rem;
   }

   .form__answer--text {
      margin: 2.2rem 0;
   }

   #form__answer--variationOptions {
      margin-left: 1.3rem;
      grid-template-columns: 31% 27% 27%;
      gap: 0 1.5rem;
   }

   .form__answers--sevenFields {
      height: 8rem;
      grid-template-columns: 26% 26% 26%;
      gap: 0 2rem;
   }

   .form__answer--sevenNumbers {
      width: 5.8rem;
      font-size: 0.8rem;
   }

   #form__answer--scenaryOptions,
   #form__answer--eventOptions {
      margin-left: 1rem;
      grid-template-columns: 52% 31%;
      gap: 0 3.8rem;
   }

   .form__answers--itemAmountOfFields {
      height: 8rem;
      grid-template-columns: 26% 26% 26%;
      gap: 0 2rem;
   }

   .form__answer--itemField {
      width: 5.8rem;
      font-size: 0.8rem;
   }
   
   .form__answer--amountOfField {
      width: 5.8rem;
      font-size: 0.8rem;
   }

   footer {
       display: flex;
       flex-direction: column-reverse;
   }

  .footer__dot {
   display: none;
  }

  .footer__division {
   padding: 0.15rem;
  }
}

@media (max-width: 440px) {
   html {
       font-size: 14px;
   }

   .intro, .form, .suitcase, .tips {
      width: 20rem;
   }

   .form__question {
      width: 22rem;
      font-size: 0.7rem;
   }

   .form__asking {
      font-size: 1rem;
   }

   .form__answer--text {
      margin: 2.5rem 0;
   }

   .form__answers--sevenFields {
      grid-template-columns: 28% 28% 28%;
      gap: 0 1rem;
      height: 9rem;
   }

   .form__answer--sevenNumbers {
      width: 5.8rem;
      font-size: 0.8rem;
   }

   #form__answer--scenaryOptions,
   #form__answer--eventOptions {
      grid-template-columns: 52% 33%;
      margin-left: 1rem;
      gap: 0 2.8rem;
   }

   .form__answers--itemAmountOfFields {
      grid-template-columns: 28% 28% 28%;
      gap: 0 1rem;
      height: 9rem;
   }

   .form__answer--itemField {
      width: 5.8rem;
      font-size: 0.8rem;
   }
   
   .form__answer--amountOfField {
      width: 5.8rem;
      font-size: 0.8rem;
   }

   .suitcase, .tips {
      margin: 1rem 0;
   }
}

@media (max-width: 350px) {
   html {
       font-size: 12px;
   }

   .intro, .form, .suitcase, .tips {
      width: 18rem;
   }

   .form__question {
      width: 20rem;
   }

   .form__asking {
      font-size: 0.9rem;
   }

   .form__answer--text {
      margin: 3.1rem 0;
   }

   .form__answer--text, .form__answer--number {
      border-radius: 1.25rem;
   }

   #form__answer--variationOptions {
      grid-template-columns: 31% 29% 29%;
      gap: 0 1rem;
   }

   .form__answers--sevenFields {
      grid-template-columns: 29% 29% 28%;
      gap: 0 1rem;
   }

   .form__answer--sevenNumbers {
      width: 5rem;
      font-size: 0.7rem;
   }

   #form__answer--scenaryOptions {
      grid-template-columns: 52% 30%;
      margin-left: 1rem;
      gap: 0 3rem;
   }

   #form__answer--eventOptions {
      grid-template-columns: 53% 33%;
      margin-left: 0.5rem;
      gap: 0 2rem;
   }

   .form__answers--itemAmountOfFields {
      grid-template-columns: 29% 29% 28%;
      gap: 0 1rem;
   }

   .form__answer--itemField {
      width: 5rem;
      font-size: 0.7rem;
   }
   
   .form__answer--amountOfField {
      width: 5rem;
      font-size: 0.7rem;
   }

   .btn {
      width: 29%;
      border-radius: 1.2rem;
   }

   .suitcase, .tips {
      margin: 0.5rem 0;
   }
}