:root {
    --cinza: #BABDBF;
    --cinza-claro: #eaeaea;
    --turquesa: #3F7373;
    --laranja-claro: #BF754B;
    --laranja: #A64826;
    --vinho: #732B1A;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Quicksand', sans-serif; 
    font-size: 18px;
}

header {
    background-color: var(--laranja-claro);
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    color: var(--vinho);
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
    font-weight: 600;
}

main {
    color: var(--turquesa);
    min-height: 100vh;
    padding: 3rem 0;
    display: grid;
    justify-items: center;
}

.intro {
    width: 50rem;
    font-size: 1.5rem;
    font-weight: 600;
}

fieldset {
    border: none;
}
/*.categoria

.categoria__intro*/

.formulario{
    display: flex;
    flex-direction: column;
  
}


/*fundo temporario apenas para visualizar algumas coisas*/
.formulario__questao {
    background-color: var(--laranja-claro);
    height: 20rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
}

.formulario__pergunta {
    font-size: 1.2rem;
}

.formulario__resposta--campo {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 01rem;
    border-color: var(--turquesa);
    border-style: solid;
    border-width: 0.15rem;
}

form label {
    display: block;
}

/*.formulario__repostas--checkbox */

/*.mala*/

.dicas {
    width: 50rem;
}

.btn {
    color: var(--turquesa);
    background-color: var(--cinza-claro);
    height: 2.5rem;
    width: 13rem;
    border-radius: 1rem;
    border-color: var(--turquesa);
    border-style: solid;
    border-width: 0.15rem;
    font-family: 'Amatic SC', cursive;
    font-weight: 500;
    font-size: 1.8rem;
}

.btn:hover {
    color: var(--cinza-claro);
    background-color: var(--turquesa);
    border: none;
    transition: 0.5s;
}

footer {
    background-color: var(--laranja-claro);
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: var(--vinho);
}

footer a {
    color: var(--turquesa);
    text-decoration: none;
    font-weight: 500;
}

footer a:hover {
    font-size: 1.2rem;
    transition: 0.5s;
}

.footer__ponto {
    padding: 0 2rem;
}

