:root {
    --cinza: #BABDBF;
    --cinza-claro: #eaeaea;
    --turquesa: #3F7373;
    --laranja-claro: #BF754B;
    --laranja: #A64826;
    --vinho: #732B1A;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Quicksand', sans-serif; 
    font-size: 18px;
}

main {
    color: var(--turquesa);
    min-height: 100vh;
    padding: 3rem 10rem ;
}

.navBar {
    background-color: var(--laranja-claro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    color: var(--vinho);
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
    font-weight: 600;
}

/*form label {
    display: block;
}

form input {
    display: block;
}*/

.input--campo {
    width: 50%;
    padding: 0.5rem 0 ;
    border-radius: 1rem;
}

.questionario__introducao {
    font-size: 1.2rem;
    font-weight: 500;
}

/*button {
    font-family: 'Amatic SC', cursive;
}*/

footer {
    background-color: var(--laranja-claro);
    height: 4rem;
}

.footer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: var(--vinho);
}

.footer__link {
    color: var(--turquesa);
    text-decoration: none;
    font-weight: 500;
}

.footer__link:hover {
    font-size: 1.2rem;
    transition: 0.5s;
}

.footer__ponto {
    padding: 0 2rem;
}

