:root {
   --cinza: #BABDBF;
   --cinza-claro: #eaeaea;
   --turquesa: #3F7373;
   --laranja-claro: #BF754B;
   --laranja: #A64826;
   --vinho: #732B1A;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-family: 'Quicksand', sans-serif; 
   font-size: 18px;
}

header {
   background-color: var(--laranja-claro);
   height: 7rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo {
   color: var(--vinho);
   text-align: center;
   font-family: 'Amatic SC', cursive;
   font-size: 4rem;
   font-weight: 600;
}

main {
   color: var(--turquesa);
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
   min-height: 100vh;
   width: 100%;
   padding: 3rem 0 1.5rem 0;
}

.intro {
   color: var(--laranja-claro);
   width: 50rem;
   font-size: 1.5rem;
   font-weight: 600;
}

fieldset {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   height: 100%;
   border: none;
}

.formulario {
   width: 50rem;
   height: 20rem;
   margin: 2rem 0;
   display: flex;
   overflow-x: scroll;
   scroll-snap-align: x mandatory;
}

.sessao {
   display: flex;
}

.formulario__questao {

   display: flex;
   flex-direction: column;
   min-width: 50rem;
   height: 18rem;
   justify-content: flex-end;
   padding: 0 1rem;
}

.formulario__questao--text {
   padding-top: 1rem;
}

form label {
   display: block;
}

.formulario__pergunta {
   font-size: 1.2rem;
}

.formulario__pergunta--campo {
   align-self: center;
   text-align: center;
}

.formulario__resposta--texto,
.formulario__resposta--numero {
   align-self: center;
   width: 80%;
   padding: 0.5rem 1rem;
   margin: 4.5rem 0;
   border: solid 0.15rem var(--turquesa);
   border-radius: 1rem;
   font-size: 1.2rem;
}

.formulario__respostas--variosCampos {
   display: grid;
   grid-template-columns: 26% 23% 23%;
   justify-content: center;
   gap: 0 6rem;
   height: 12rem;
}

.formulario__questao--algoMais .formulario__resposta--texto {
   margin: 3.5rem 0;
}

.formulario__resposta--opcoes {
   display: grid;
   grid-template-columns: 44% 44%;
   gap: 0 6rem;
   height: 12rem;
   align-items: center;
   overflow: hidden;
}
.formulario__resposta--labelNumberVarios {
   display: flex;
   justify-content: space-between;
}

.formulario__resposta--labelNumberVarios input {
   height: 2rem;
   width: 5rem;
   padding: 1rem;
   border-radius: 1rem;
   font-size: 0.9rem;
}

#formulario__resposta--opcoesVariacao {
   grid-template-columns: 23% 23% 23%;
   gap: 0 7rem;
   margin-left: 4rem;
}

#formulario__resposta--opcoesCenario {
   grid-template-columns: 40% 30%;
   gap: 0 12rem;
   margin-left: 8rem;
}

#formulario__resposta--opcoesEvento {
   grid-template-columns: 40% 22%;
   gap: 0 7rem;
   margin-left: 9rem;
}

.btn__container {
   display: flex;
   justify-content: space-evenly;
}

.btn {
   background-color: var(--cinza-claro);
   color: var(--turquesa);
   height: 2.5rem;
   width: 25%;
   margin-bottom: 1rem;
   border: solid 0.15rem var(--turquesa);
   border-radius: 1rem;
   font-size: 1.3rem;
   font-family: 'Amatic SC', cursive;
   font-weight: 500;
   
}

.btn:hover {
   background-color: var(--turquesa);
   color: var(--cinza-claro);
   border: none;
   transition: 0.5s;
}

#btn__proximo--algoMais {
   font-size: 1.8rem;
   font-weight: 700;
}

.mala, .dicas {
   width: 50rem;
   margin: 2rem 0;
}

.mala__intro, .dicas__intro {
   color: var(--laranja-claro);
   font-size: 1.2rem;
   font-weight: 500;
}

.categoriaMala {
   margin: 1rem 0;
}

.categoriaMala__nome{
   font-size: 1.2rem;
}

.dicas__item, .mala__item {
   margin: 0.5rem;
}

footer {
   background-color: var(--laranja-claro);
   height: 4rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

footer p {
   color: var(--vinho);
}

footer a {
   color: var(--turquesa);
   text-decoration: none;
   font-weight: 500;
}

footer a:hover {
   font-size: 1.2rem;
   transition: 0.5s;
}

.footer__ponto {
   padding: 0 2rem;
}

@media (max-width: 950px) {
   html {
      font-size: 17px;
   }
   .intro, .formulario, .mala, .dicas {
      width: 30rem;
   }

   .formulario__questao {
      min-width: inherit;
      width: 30rem;
      font-size: 0.9rem;
   }

   .formulario__respostas--variosCampos {
      height: 11rem;
      grid-template-columns: 33% 32% 31%;
      gap: 0 0.6rem;
   }

   #formulario__resposta--opcoesVariacao {
      margin-left: 1.5rem;
      grid-template-columns: 25% 25% 25%;
      gap: 0 2rem;
   }

   #formulario__resposta--opcoesCenario,
   #formulario__resposta--opcoesEvento {
      height: 11rem;
      grid-template-columns: 53% 16%;
      margin-left: 2rem;
      gap: 0 6rem;
   }

   .formulario__questao--algoMais .formulario__resposta--texto {
      margin: 3.1rem 0;
   }
   .formulario__resposta--labelNumberVarios input {
      height: 1.5rem;
      width: 3.5rem;
   }

   #btn__proximo--algoMais {
      font-size: 1.4rem;
   }
   
   footer {
       font-size: 0.7rem;
   }
}

@media (max-width: 600px) {
   html {
       font-size: 15px;
   }

   .intro {
      font-size: 1.2rem;
  }

  .intro, .formulario , .mala, .dicas {
   width: 23rem;
   } 

   .formulario__questao {
      min-width: inherit;
      width: 25rem;
      font-size: 0.9rem;
   }

   .formulario__respostas--variosCampos {
      height: 10rem;
      grid-template-columns: 33% 29% 29%;
      gap: 0 0.7rem;
   }

   .formulario__resposta--opcoes {
      height: 11rem;
   }

   #formulario__resposta--opcoesVariacao {
      margin-left: 1.3rem;
      grid-template-columns: 31% 27% 27%;
      gap: 0 1.5rem;
   }

   #formulario__resposta--opcoesCenario,
   #formulario__resposta--opcoesEvento {
      margin-left: 1rem;
      grid-template-columns: 52% 31%;
      gap: 0 3.8rem;
   }

   .formulario__questao--algoMais .formulario__resposta--texto {
      margin: 2.2rem 0;
   }

   #btn__proximo--algoMais {
      font-size: 1.2rem;
   }

   footer {
       display: flex;
       flex-direction: column-reverse;
   }

  .footer__ponto {
   display: none;
  }

  .footer__divisao {
   padding: 0.15rem;
  }
}

@media (max-width: 440px) {
   html {
       font-size: 14px;
   }

   .intro, .formulario, .mala, .dicas {
      width: 20rem;
   }

   .mala, .dicas {
      margin: 1rem 0;
   }

   .formulario__questao {
      min-width: inherit;
      width: 22rem;
      font-size: 0.7rem;
   }

   .formulario__pergunta {
      font-size: 1rem;
   }

   .formulario__respostas--variosCampos {
      gap: 0 0.3rem;
      margin-left: 1.2rem;
   }

   .formulario__resposta--labelNumberVarios input {
      height: 1rem;
      width: 3.1rem;
   }

   #formulario__resposta--opcoesCenario,
   #formulario__resposta--opcoesEvento {
      grid-template-columns: 52% 33%;
      margin-left: 1rem;
      gap: 0 2.8rem;
   }

   .formulario__questao--algoMais .formulario__resposta--texto {
      margin: 2.5rem 0;
   }

   #btn__proximo--algoMais {
      font-size: 1.1rem;
   }
}

@media (max-width: 350px) {
   html {
       font-size: 12px;
   }

   .intro, .formulario, .mala, .dicas {
      width: 18rem;
   }

   .mala, .dicas {
      margin: 0.5rem 0;
   }

   .formulario__questao {
      min-width: inherit;
      width: 20rem;
      font-size: 0.7rem;
   }

   .formulario__pergunta {
      font-size: 0.9rem;
   }

   .formulario__respostas--variosCampos {
      grid-template-columns: 33% 31% 30%;
      gap: 0 0.8rem;
      margin-left: 1rem;
   }

   .formulario__resposta--labelNumberVarios input {
      height: 0.8rem;
      width: 3rem;
   }

   #formulario__resposta--opcoesVariacao {
      grid-template-columns: 31% 29% 29%;
      gap: 0 1rem;
   }

   #formulario__resposta--opcoesCenario {
      grid-template-columns: 52% 30%;
      margin-left: 1rem;
      gap: 0 3rem;
   }

   #formulario__resposta--opcoesEvento {
      grid-template-columns: 53% 33%;
      margin-left: 0.5rem;
      gap: 0 2rem;
   }

   .formulario__resposta--texto, .formulario__resposta--numero {
      border-radius: 1.25rem;
   }

   .formulario__questao--algoMais .formulario__resposta--texto {
      margin: 3.1rem 0;
   }

   .btn {
      width: 29%;
      border-radius: 1.2rem;
   }
}