:root {
    --cinza: #BABDBF;
    --cinza-claro: #eaeaea;
    --turquesa: #3F7373;
    --laranja-claro: #BF754B;
    --laranja: #A64826;
    --vinho: #732B1A;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Quicksand', sans-serif; 
    font-size: 16px;
}

main {
    color: var(--turquesa);
    min-height: 100vh;
    padding: 3rem 10rem ;
}

.introducao {
    font-size: 1.2rem;
    font-weight: 500;
}

.questao {
margin: 0 10rem;
}

.questao__pergunta {
    color: var(--turquesa);
    font-size: 1.3rem;
    font-weight: 500;
}
.questao__resposta {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.questao__resposta--box {
    background-color: var(--cinza-claro);
    width: 13rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 2rem;    
}

.questao__resposta--box p {
    padding: 0.5rem;
}

/*button {
    font-family: 'Amatic SC', cursive;
}*/

footer {
    background-color: var(--laranja-claro);
    height: 4rem;
}

.footer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: var(--vinho);
}

.footer__link {
    color: var(--turquesa);
    text-decoration: none;
    font-weight: 500;
}

.footer__link:hover {
    font-size: 1.2rem;
    transition: 0.5s;
}

.footer__ponto {
    padding: 0 2rem;
}

