:root {
   --cinza: #BABDBF;
   --cinza-claro: #eaeaea;
   --turquesa: #3F7373;
   --laranja-claro: #BF754B;
   --laranja: #A64826;
   --vinho: #732B1A;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-family: 'Quicksand', sans-serif; 
   font-size: 18px;
}

header {
   background-color: var(--laranja-claro);
   height: 7rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo {
   color: var(--vinho);
   text-align: center;
   font-family: 'Amatic SC', cursive;
   font-size: 4rem;
   font-weight: 600;
}

main {
   color: var(--turquesa);
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
   min-height: 100vh;
   width: 100%;
   padding: 3rem 0 1.5rem 0;
}

.intro {
   color: var(--laranja-claro);
   width: 50rem;
   font-size: 1.5rem;
   font-weight: 600;
}

fieldset {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   height: 100%;
   border: none;
}

.formulario {
   width: 50rem;
   height: 20rem;
   margin: 2rem 0;
   display: flex;
   overflow-x: scroll;
   scroll-snap-align: x mandatory;
}

.sessao {
   display: flex;
}

.formulario__questao {

   display: flex;
   flex-direction: column;
   min-width: 50rem;
   height: 18rem;
   justify-content: flex-end;
   padding: 0 1rem;
}

.formulario__questao--text {
   padding-top: 1rem;
}

form label {
   display: block;
}

.formulario__pergunta {
   font-size: 1.2rem;
}

.formulario__resposta--texto,
.formulario__resposta--numero {
   align-self: center;
   width: 80%;
   padding: 0.5rem 1rem;
   margin: 4.5rem 0;
   border: solid 0.15rem var(--turquesa);
   border-radius: 1rem;
   font-size: 1.2rem;
}



.formulario__questao--algoMais .formulario__resposta--texto {
   margin: 3.5rem 0;
}

.formulario__resposta--opcoes {
   display: grid;
   grid-template-columns: 44% 44%;
   gap: 0 6rem;
   height: 12rem;
   align-items: center;
   /*padding-top: 1rem;*/
   overflow: hidden;
}

/*.formulario__questao--lavarRoupa .formulario__resposta--opcoes, 
.formulario__questao--cenario .formulario__resposta--opcoes, 
.formulario__questao--evento .formulario__resposta--opcoes {
   justify-content: space-between;
}*/

.btn__container {
   display: flex;
   justify-content: space-evenly;
}

.btn {
   background-color: var(--cinza-claro);
   color: var(--turquesa);
   height: 2.5rem;
   width: 25%;
   margin-bottom: 1rem;
   border: solid 0.15rem var(--turquesa);
   border-radius: 1rem;
   font-family: 'Amatic SC', cursive;
   font-weight: 500;
   font-size: 1.8rem;
}

.btn:hover {
   background-color: var(--turquesa);
   color: var(--cinza-claro);
   border: none;
   transition: 0.5s;
}

#btn__proximo--algoMais {
   font-weight: 700;
}

.mala, .dicas {
   width: 50rem;
   margin: 2rem 0;
}

.mala__intro, .dicas__intro {
   color: var(--laranja-claro);
   font-size: 1.2rem;
   font-weight: 500;
}

.categoriaMala {
   margin: 1rem 0;
}

.categoriaMala__nome{
   font-size: 1.2rem;
}

.dicas__item, .mala__item {
   margin: 0.5rem;
}

footer {
   background-color: var(--laranja-claro);
   height: 4rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

footer p {
   color: var(--vinho);
}

footer a {
   color: var(--turquesa);
   text-decoration: none;
   font-weight: 500;
}

footer a:hover {
   font-size: 1.2rem;
   transition: 0.5s;
}

.footer__ponto {
   padding: 0 2rem;
}
/*
@media (max-width: 950px) {
   .intro, .formulario, .formulario__questao, .mala, .dicas {
       width: 30rem;
   }
   
   footer {
       font-size: 0.7rem;
   }
}

@media (max-width: 600px) {
   html {
       font-size: 16px;
   }

   .intro {
       font-size: 1.2rem;
   }

   .intro, .formulario__questao, .mala, .dicas {
       width: 23rem;
   } 

   .formulario__resposta--opcoes {
       gap: 0 2rem;
   }

   footer {
       display: flex;
       flex-direction: column-reverse;
   }

  .footer__ponto {
   display: none;
  }

  .footer__divisao {
   padding: 0.15rem;
  }
}

@media (max-width: 440px) {
   html {
       font-size: 14px;
   }

   .intro, .formulario__questao, .mala, .dicas {
       width: 20rem;
   }
}

@media (max-width: 350px) {
   html {
       font-size: 12px;
   }
   
  .formulario__resposta--campo,
  .formulario__questao--duracaoTemperatura .formulario__resposta--campo, 
  .formulario__questao--algoMais .formulario__resposta--campo {
   margin: 3rem 0;
  }

  .formulario__resposta--opcoes {
   height: 10rem;
  }
}*/