:root {
    --cinza-claro: #BABDBF;
    --turquesa: #3F7373;
    --laranja-claro: #BF754B;
    --laranja: #A64826;
    --vinho: #732B1A;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html {
    font-family: 'Quicksand', sans-serif; 
    font-size: 16px;
}

/*body{

    background-image: url(background.png);
    background-size: cover;
    background-position: center;
}
*/
.progress img {

    width: 150px;
    
}

.progress {

    margin: 300px auto;
    
}

ul {
    
    text-align: center;
}

ul li{

    display: inline-block;
    width: 200px;
    
}

main {
    background-color: var(--laranja-claro);
    min-height: 100vh;
}

button {
    font-family: 'Amatic SC', cursive;
}

footer {
    background-color: var(--laranja);
    height: 5rem;
}

.footer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: var(--preto);
}

.footer__link {
    color: var(--laranja-claro);
}

.footer__link:hover {
    font-size: 1.2rem;
    transition: 0.5s;
    
}

.footer__ponto {
    padding: 0 2rem;
}